// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #109CF1;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #11DCBA;
$dark-gray: #252733;
$light-gray-main: #F5F6F8;
$light-gray-secondary: #DFE0EB;
$lightest-gray: #EBEFF2;
$lighter-text: #838FA0;
$medium-gray: #707683;
