
.no-left-margin {
  margin-left: 0 !important;
}

.fc-dayGrid-view .fc-body .fc-row {
    min-height: 2em !important;
}

#calendar {
  padding: 30px !important;
}

.metrics-cards-container {
  width: 100%;
  // margin-bottom: 30px;
  display: flex;
  flex-direction: column;

  a {
    color: $main-text;
    text-decoration: none;
    &:hover {
      color: $primary;
    }
  }

.fc-toolbar h2 {
    font-size: 17pt !important;
    font-family: "Poppins", "Helvetica", "sans-serif";
}

.fc-day-number {
    font-size: 14pt;
    color: #9FA2B4;
}

  .metrics-cards-container-row {
    margin-bottom: 30px;
    display: flex;
  }
}
.big-metrics-card-full {
  position: relative;
  background-color: $white;
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  border: 1px solid #DFE0EB;
  border-radius: 8px;
  border-color: #DFE0EB;
  padding: 30px;
}

.big-metrics-card {
  position: relative;
  background-color: $white;
  display: flex;
  flex-direction: column;
  flex-basis: 1000px;
  justify-content: flex-start;
  align-items: stretch;
  margin-right: 30px;
  border: 1px solid #DFE0EB;
  border-radius: 8px;
  border-color: #DFE0EB;
  // overflow: hidden;
  padding: 36px 0 0 0;

  .app-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 32px;
    padding-left: 32px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 1px solid;
    border-bottom-color: #DFE0EB;
    height: 56px;
    &:last-of-type {
      border-bottom: 0px;
    }

      .app-logo {
        width: 26px;
        height: 26px;
      }

      .app-item {
        flex: 0 0 120px;
        text-align: right;

        span {
          font-size: 13px;
        }
      }

      .app-name {
        font-size: 14px;
        color: #9FA2B4;
        margin-bottom: 0px;
        flex-grow: 1;
        margin-left: 22px;
      }
      .app-name-depart {
        font-size: 14px;
        color: #252733;
        margin-bottom: 0px;
        flex-grow: 1;
        margin-left: 0px;
      }
      .app-headcount {
        font-size: 14px;
        color: #9FA2B4;
        margin-bottom: 0px;
        margin-left: 22px;
      }
      .app-utilization {
        font-size: 14px;
        color: #9FA2B4;
        margin-bottom: 0px;
        margin-left: 22px;
      }
      .app-savings {
        font-size: 14px;
        color: #9FA2B4;
        margin-bottom: 0px;
        margin-left: 22px;
      }
  }
}

.metrics-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 10px;

  h4 {
    font-size: 17px;
    font-weight: medium;
  }

  p {
    font-size: 12px;
    color: #9FA2B4;
    margin-bottom: 0px;
  }

  a {
    font-size: 14px;
    color: #3751FF;
  }

  .app-logo {
    width: 26px;
    height: 26px;
  }

  .app-name {
    font-size: 12px;
    color: #9FA2B4;
    margin-bottom: 0px;
    margin-left: 22px;
  }

  .app-utilization {
    font-size: 14px;
    color: #3751FF;
    margin-left: 43px;
  }

  .app-savings {
    font-size: 14px;
    color: #3751FF;
    margin-left: 51px;
  }
}

.big-metrics-card:last-of-type {
  margin-right: 0;
}


