.dashboard-row {
  margin-bottom: 30px;
  background-color: $white;
  width: 100%;
  padding: 80px;
  border-radius: 8px;
}

.card-bottom-graph {
  margin: 30px auto 0 auto;
  width: 98%;
  height: 100%;
  display: flex;
  align-items: center;
}
