// Global Structure
@import "global";

// Page Layouts
@import "landing-page";
@import "dashboard";
@import "usage";
@import "subscription-index";
@import "subscription-show";
@import "cards_metrics_top";
@import "cards_metrics_bottom";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: $font-Poppins;
}



