.landing-page-container {
  width: 100%;
  font-family: $font-Poppins;
  overflow-x: hidden;

  main {
    position: relative;
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    color: $white;
    background: linear-gradient(120deg, #109CF1 3.3%, #10CCF1 48.56%, #11FF9B 98.79%);
    border-radius: 0 0 30% 30%;
  }

  .main-headline-container {
    max-width: 590px;
    width: 95%;
    margin-left: 6%;

    h1 {
      font-weight: bold;
      font-size: 48px;
    }

    p {
      max-width: 400px;
      font-size: 18px;
    }
  }

  img {
    position: absolute;
    bottom: -130px;
    max-width: 800px;
  }

  nav {
    position: absolute;
    padding: 12px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 80px;

    .nav-left {
      position: relative;
    }

    .brand-logo {
      padding: 10px;
    }

    a {
      top: 0;
      text-decoration: none;
      margin: 0;
    }

    .nav-right {
      padding: 10px;
      top: 0;
    }

    .nav-right a {
      margin-left: 12px;
    }
  }

  .btn {
    min-width: 100px;
    padding: 12px 40px;
    border-radius: 3px;
  }

  section.steps {
    padding: 100px 30px;

    .section-title {
      width: 60%;
      margin: 0 20%;
      text-align: center;
      line-height: 30px;

      h2 {
        font-size: 32px;
      }

      p {
        font-size: 16px;
        color: $lighter-text;
        // letter-spacing: 0.07rem;
      }
    }

    .steps-container {
      max-width: 1000px;
      margin: 0 auto;
      height: 800px;
      position: relative;
    }

    .step-container {
      max-width: 380px;
      position: absolute;
    }

    .step-container:nth-of-type(1) {
        left: 0;
        top: 60px;
    }
    .step-container:nth-of-type(2) {
        right: 0;
        top: 300px;
    }
    .step-container:nth-of-type(3) {
        left: 100px;
        bottom: 90px;
    }

    #path-1 {
      position: absolute;
      left: 180px;
      top: 30px
    }

    #path-2 {
      position: absolute;
      left: -380px;
      top: 80px;
    }

    #form-1 {
      position: absolute;
      z-index: -10;
      top: 30px;
      left: -40px;
    }
    #form-2 {
      position: absolute;
      z-index: -20;
      top: -80px;
      left: -270px;
    }
    #form-3 {
      position: absolute;
      z-index: -10;
      top: -60px;
      left: -60px;
    }

    .step-img {
      margin-bottom: 20px;
      overflow: visible;

      svg {
        width: 90px;
      }
    }

    .btn-cta {
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 300px;
      text-align: center;
      border-radius: 3px;
      font-weight: bold;
      padding: 16px 60px;
      color: $white;
      background: linear-gradient(120deg, #10ABE5 0%, #11F699 137.72%);
      will-change: tranform box-shadow;
      transition: all 0.2s;

      &:hover {
        text-decoration: none;
        transform: translateY(-3px) scale(1.05);
        box-shadow: 0 10px 10px -10px rgba(#000, 0.3);
      }
    }
  }

  footer {
    width: 90%;
    margin: 70px 5% 0 5%;
    height: 100px;
    border-top: 1px solid $light-line;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;

    ul {
      margin: 0;
      padding: 0;
    }

    .footer-right li {
      display: inline;
      margin-left: 30px;
      opacity: 0.5
    }
  }
}

.full-saas247-logo {
  height: 40px;
  margin: 0 !important;
  padding: 0 !important;
  position: absolute;
  top: 20px;
  left: 30px;
  z-index: 999;
}

.step-text {
  display: flex;
  line-height: 30px;

  span {
    font-weight: bold;
    font-size: 100px;
    line-height: 0.8em;
    background: -webkit-linear-gradient(-30deg, #109CF1 3.3%, #10CCF1 48.56%, #11FF9B 98.79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 20px;
  }

  h3 {
    font-size: 24px;
    font-weight: bold;
  }

  p {
    font-size: 16px;
    line-height: 25px;
    color: $lighter-text;
  }
}

.btn-outline {
  border: 1px solid $white !important;
  color: $white !important;
}
.btn-outline:hover {
  background-color: $white;
  color: $primary !important;
}
@media (max-width: 1080px){
  //MOBILE ONLY STYLES
  .landing-page-container {
    .full-saas247-logo {
      height: auto;
      width: 140px;
      left: 20px;
    }

    nav {
      position: absolute;
      padding: 12px;
      height: 70px;
    }

    .brand-logo, .nav-right {
      padding: 0 !important;
    }

    .brand-logo a {
      font-size: 20px;
    }

    .nav-right a {
      padding: 8px 10px;
      font-size: 14px;
      width: auto !important;
      margin-left: 4px !important;
    }

    .btn {
      min-width: auto !important;
    }

    main {
      height: 850px;
      display: block;
      border-radius: 0 0 200px 200px;
    }

    .main-headline-container {
      max-width: 590px;
      width: 95%;
      margin: 0;
      padding: 100px 6%;
    }

    img {
      bottom: -80px;
      width: 110%;
      transform: translateX(-5%);
      max-width: 600px;
      right: 0;
      left: 0;
      margin: 0 auto;
    }

    .section-title {
      width: 90% !important;
      margin: 0 5% !important;
      text-align: center;
      line-height: 30px;
    }

    #path-1 {
      display: none;
    }
    .section-title {
      width: 90%;
      margin: 0 5%;
    }

    .steps-container {
        height: 1080px !important;
      }

    .step-container:nth-of-type(1) {
      left: 0;
      top: 60px;
    }
    .step-container:nth-of-type(2) {
      left: 0;
      top: 440px !important;
    }
    .step-container:nth-of-type(3) {
      left: 0 !important;
      bottom: 60px !important;
    }
  }
}

