.show-container {
  display: flex;
  align-items: stretch;
  background-color: rgba(0, 0, 0, 0);

  .right-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

      .percent-change {
        align-self: flex-end;
      }
    }

    .graph-wrapper {
      flex-grow: 1;
      background-color: white;
      border: 1px solid #DFE0EB;
      border-radius: 8px;
    }
  }

.app-info-container {
  background-color: white;
  border: 1px solid #DFE0EB;
  border-radius: 8px;
  margin-right: 29px;
  width: 350px;
  padding: 0 20px;

  .app-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    height: 150px;
    border-bottom: 1px solid $lightest-gray;

    .app-info-img {
      width: auto;
      height: 60px;
      max-height: 60px;
      max-width: 280px;
    }
  }
  h4 {
    margin-top: 10px;
  }

  h6 {
    font-size: 12px;
    font-weight: lighter;
    opacity: 0.5;

  }

  p {
    font-size: 14px;
    font-weight: bold;
  }

}

  .app-info-group-detail {
    margin: 30px 0;
    color: $dark-gray;
}

.metrics-card:hover {
    color: $primary;
    border-color: $primary;

  .card-top-text {
    color: $primary;
    transition: ease-in-out;
  }

}

// .drop-down-menu {
//   position: relative;

//     .selected {
//       font-color: $primary !important;
//     }
//   }

//  .bootstrap-select {
//     background: transparent;
//     float: right;
//     // padding: 50px;
//     border: none;
//     width: 130px !important;
//     appearance: none;

//     option {
//       padding: 6px !important;
//       line-height: 1.5rem;
//       // margin: 6px 0;
//     }
//   }

  //   .bootstrap-select:hover, .bootstrap-select:focus {
  //     background-image: none !important;
  //     background-color: white;
  //   }
  // }


#app-cover
{
    position: relative;
    float: right;
    top: 0;
    right: 0;
    left: 0;
    width: 100px;
    height: 42px;
    margin: 100px auto 0 auto;
}

#select-button
{
    position: relative;
    height: 20px;
    padding: 12px 14px;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;

}

#options-view-button
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

#selected-value
{
    font-size: 16px;
    line-height: 1;
    margin-right: 26px;
span {
    align-items: center;
    justify-content: center;
}
}


.option i
{
    width: 16px;
    height: 16px;
}

.option, .label
{
    color: #2d3667;
    font-size: 16px;
}

#chevrons
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 12px;
    padding: 9px 14px;
}

#chevrons i
{
    display: block;
    height: 50%;
    color: #d1dede;
    font-size: 12px;
    text-align: right;
}

#options-view-button:checked + #select-button #chevrons i
{
    color: #2d3667;
}

.options
{
    position: absolute;
    left: 0;
    width: 250px;
}

#options
{
    position: absolute;
    top: 42px;
    right: 0;
    left: 0;
    width: 298px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 4px;
}

#options-view-button:checked ~ #options
{
    border: 1px solid #e2eded;
    border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

.option
{
    position: relative;
    line-height: 1;
    transition: 0.3s ease all;
    z-index: 2;
}

.option i
{
    position: absolute;
    left: 14px;
    padding: 0;
    display: none;
}

#options-view-button:checked ~ #options .option i
{
    display: block;
    padding: 12px 0;
    align-items: center;
    justify-content: center;
}

.label
{
    display: none;
    padding: 0;
    margin-left: 27px;
}

#options-view-button:checked ~ #options .label
{
    display: block;
    padding: 12px 14px;
}

.s-c
{
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
}

.s-c.top
{
    top: 0;
}

.s-c.bottom
{
    bottom: 0;
}

input[type="radio"]
{
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 50%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
}

// .s-c:hover ~ i
// {
//     color: #fff;
//     opacity: 0;
// }

// .s-c:hover
// {
//     height: 100%;
//     z-index: 1;
// }

// .s-c.bottom:hover + i
// {
//     bottom: -25px;
//     animation: moveup 0.3s ease 0.1s forwards;
// }

// .s-c.top:hover ~ i
// {
//     top: -25px;
//     animation: movedown 0.3s ease 0.1s forwards;
// }

// @keyframes moveup
// {
//     0%{ bottom: -25px; opacity: 0;}
//     100%{ bottom: 0; opacity: 1;}
// }

// @keyframes movedown
// {
//     0%{ top: -25px; opacity: 0;}
//     100%{ top: 0; opacity: 1;}
// }

.label
{
    transition: 0.3s ease all;
}

.opt-val
{
    position: absolute;
    left: 14px;
    width: 217px;
    height: 21px;
    opacity: 0;
    background-color: #fff;
    transform: scale(0);
}

.option input[type="radio"]:checked ~ .opt-val
{
    opacity: 1;
    transform: scale(1);
}

.option input[type="radio"]:checked ~ i
{
    top: 0;
    bottom: auto;
    opacity: 1;
    animation: unset;
}

.option input[type="radio"]:checked ~ i, .option input[type="radio"]:checked ~ .label
{
    color:#fff;
}

.option input[type="radio"]:checked ~ .label:before
{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#options-view-button:not(:checked) ~ #options .option input[type="radio"]:checked ~ .opt-val
{
    top: -30px;
}

.option:nth-child(1) input[type="radio"]:checked ~ .label:before
{
    background-color: #0057ff;
    border-radius: 4px 4px 0 0;
}

.option:nth-child(1) input[type="radio"]:checked ~ .opt-val
{
    top: -31px;
}

.option:nth-child(2) input[type="radio"]:checked ~ .label:before
{
    background-color: #0057ff;
}

.option:nth-child(2) input[type="radio"]:checked ~ .opt-val
{
    top: -71px;
}

.option:nth-child(3) input[type="radio"]:checked ~ .label:before
{
    background-color: #0057ff;
}

.option:nth-child(3) input[type="radio"]:checked ~ .opt-val
{
    top: -111px;
}


// .option .fa-codepen
// {
//     color: #0057ff;
// }

// .option .fa-dribbble
// {
//     color: #0057ff;
// }

// .option .fa-behance
// {
//     color: #0057ff;
// }


#option-bg
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 40px;
    transition: 0.3s ease all;
    z-index: 1;
    display: none;
}

#options-view-button:checked ~ #options #option-bg
{
    display: block;
}

.option:hover .label
{
    color: #fff;
}

.option:nth-child(1):hover ~ #option-bg
{
    top: 0;
    background-color: #0057ff;
    border-radius: 4px 4px 0 0;
}

.option:nth-child(2):hover ~ #option-bg
{
    top: 40px;
    background-color: #0057ff;
}

.option:nth-child(3):hover ~ #option-bg
{
    top: 80px;
    background-color: #0057ff;
}

