<nav class="dashboard-left leftnav-open">
  <div class="leftnav_brand">

  </div>
  <div class="leftnav_bottom">
    <div id="leftnav_toggle">
      <span></span>
      <p>Toggle sidebar</p>
    </div>
  </div>
</nav>
