<div id="navbar-container">
  <div class="left-items">
    <h2 class="main-title">Dashboard</h2>
    <div class="icons">   <i class="far fa-bell"></i> </div>
    <div class="icons">  <i class="fas fa-cog"></i> </div>
  </div>
  <div class="right-items">
    <h3>Susan Ferguson</h3>
    <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="" class="avatar">
  </div>
</div>
