<div class="big-metrics-card card-actions">
  <div class="metrics-header">
    <div class="header-content">
      <h4>Insights</h4>
    </div>
  </div>
  <div class="actions-frame">
      <% ["You can reduce the total software subscription cost with 21 %.", "You can reduce Slack license cost with 53 %. Mike Peterson's license is the least used.", "7 subscriptions are up for renewals next month for a total cost of €45.000.", "License usage data was last updated and reviewed 187 days ago.", "Engineering (56,5%) and IT (66,7%) got the licenses with the most inactive users.", "Licenses for 7 new applications has been purchased the last 30 days."].each do |insight| %>
      <div class="action-item">
        <div class="action-left">
          <div class="action-status"></div>
          <p class="action-message"><%= insight %></p>
        </div>
        <div class="action-button">
          <% slack = CompanyLicense.find_by(license_id: License.find_by(name: "Slack")) %>
          <%= link_to company_license_path(slack), class: "btn btn-table btn-success btn-action" do %>
            See more
          <% end %>
        </div>
      </div>
      <% end %>
  </div>
</div>
