<div id="metrics-cards-container">

  <div class="metrics-cards-container-row">

  <%= render partial: "company_licenses/partials/card_app_info", locals: {
  appName: "app-name", appExpense: "13.000" }%>

  <%= render partial: "company_licenses/partials/card_app_info", locals: {
  appName: "app-name", appExpense: "13.000" }%>

  </div>

  <div class="metrics-cards-container-row">

  <%= render partial: "company_licenses/partials/card_app_util", locals: {
  appName: "app-name", appExpense: "13.000" }%>

  <%= render partial: "company_licenses/partials/card_app_info", locals: {
  appName: "app-name", appExpense: "13.000" }%>

  </div>

</div>
