<table class="card-container table-container">
  <thead>
    <tr>
      <th>Owner
        <svg width="7" height="3" viewBox="0 0 7 3" fill="#AEAEAE" mlns="http://www.w3.org/2000/svg">
        <path d="M3.5 3L0.468911 -9.41288e-08L6.53109 4.35844e-07L3.5 3Z"/>
        </svg>
      </th>
      <th>Department <svg width="7" height="3" viewBox="0 0 7 3" fill="#AEAEAE" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.5 3L0.468911 -9.41288e-08L6.53109 4.35844e-07L3.5 3Z"/>
        </svg>
      </th>
      <th>Start Date <svg width="7" height="3" viewBox="0 0 7 3" fill="#AEAEAE" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.5 3L0.468911 -9.41288e-08L6.53109 4.35844e-07L3.5 3Z"/>
        </svg>
      </th>
      <th>Expense <svg width="7" height="3" viewBox="0 0 7 3" fill="#AEAEAE" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.5 3L0.468911 -9.41288e-08L6.53109 4.35844e-07L3.5 3Z"/>
        </svg>
      </th>
      <th>L. Size <svg width="7" height="3" viewBox="0 0 7 3" fill="#AEAEAE" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.5 3L0.468911 -9.41288e-08L6.53109 4.35844e-07L3.5 3Z"/>
        </svg>
      </th>
      <th>L. Used <svg width="7" height="3" viewBox="0 0 7 3" fill="#AEAEAE" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.5 3L0.468911 -9.41288e-08L6.53109 4.35844e-07L3.5 3Z"/>
        </svg>
      </th>
      <th>Utilization <svg width="7" height="3" viewBox="0 0 7 3" fill="#AEAEAE" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.5 3L0.468911 -9.41288e-08L6.53109 4.35844e-07L3.5 3Z"/>
        </svg>
      </th>
      <th>Billing Cycle <svg width="7" height="3" viewBox="0 0 7 3" fill="#AEAEAE" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.5 3L0.468911 -9.41288e-08L6.53109 4.35844e-07L3.5 3Z"/>
        </svg>
      </th>
      <th>Renewal Date <svg width="7" height="3" viewBox="0 0 7 3" fill="#AEAEAE" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.5 3L0.468911 -9.41288e-08L6.53109 4.35844e-07L3.5 3Z"/>
        </svg>
      </th>
      <th>Alert</th>
    </tr>
    <tbody>
      <% 10.times do %>
      <tr>
        <td>Peter Hanson</td>
        <td>Management</td>
        <td>12 Jan 2017</td>
        <td>$ 2.000</td>
        <td>6</td>
        <td>6</td>
        <td>100%</td>
        <td>Monthly</td>
        <td>29 Nov 2019</td>
        <td>yo</td>
      </tr>
      <% end %>
    </tbody>
  </thead>
</table>
