<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
</head>

<div class="show-container">

  <div class="app-info-container">
    <div class="app-info">
    <img src="https://upload.wikimedia.org/wikipedia/commons/e/ec/Skype-icon-new.png" alt="">
    <h4> Skype </h4>
    </div>
    <div class="app-info-group-detail">
    <h6> Contact info</h6>
    <p> help@skype.com </p>
    </div>
    <div class="app-info-group-detail">
    <h6> Vendor </h6>
    <p> Microsoft </p>
    </div>
    <div class="app-info-group-detail">
    <h6> Number of owners </h6>
    <p> 3 </p>
    </div>
    <div class="app-info-group-detail">
    <h6> Number of departments </h6>
    <p> 3 </p>
    </div>
    <div class="app-info-group-detail">
    <h6> Category </h6>
    <p> Communications </p>
    </div>

  </div>
  <div class="right-info">
    <div class="info-row">
      <div id="metrics-top">
      <div class="metrics-card">
        <div class="card-top-text">Monthly Spend</div>
         <div class="card-bottom-text">$3.000<span>+17%</span></div>
      </div>

      <div class="metrics-card">
        <div class="card-top-text">Total Licenses</div>
        <div class="card-bottom-text">200</div>
      </div>

      <div class="metrics-card">
        <div class="card-top-text">Utilization</div>
        <div class="card-bottom-text">84%</div>
      </div>
    </div>
    </div>
    <div class="graph-wrapper">
      <canvas id="myChart" width="730" height="420"></canvas>

    </div>
  </div>
</div>

<%= render "company_licenses/partials/table-index", locals: { licenses: @licenses } %>
