<% content_for(:title, "Usage") %>

<div class="top-section-container">
  <div class="top-section-metrics">
    <div class="section-metric-group">
      <h2>5</h2>
      <p>Departments</p>
    </div>
    <div class="section-metric-group">
      <h2>62</h2>
      <p>Users</p>
    </div>
    <div class="section-metric-group">
      <h2>35</h2>
      <p>Applications</p>
    </div>
  </div>
  <div class="top-section-cta">
    <p>Send a survey to the team<br>
    to know which applications they are using:</p>
    <%= link_to "Send survey to all", usage_path, class: "btn btn-outline btn-bold" %>
  </div>
  <svg id="top-section-illustration" width="148" height="152" viewBox="0 0 148 152" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g opacity="0.3">
  <path d="M145.781 0.0231934H18.6566C17.9806 0.0231934 17.3193 0.292082 16.8843 0.812131C15.9379 1.94974 16.3582 3.56898 17.5221 4.19836L47.1752 20.249C47.1782 20.249 47.1811 20.2519 47.1811 20.2578L54.0852 66.5245C54.3321 68.1289 56.2249 68.9504 57.5475 68.0048L86.5041 47.3211C86.507 47.3181 86.5129 47.3181 86.5158 47.3211L107.037 58.6676C108.016 59.2083 109.277 58.9099 109.914 57.9909L131.491 26.8087C132.187 25.8011 131.94 24.4182 130.938 23.7179C129.936 23.0176 128.56 23.2658 127.864 24.2734L107.428 53.8069C107.425 53.8099 107.419 53.8128 107.413 53.8099L66.4914 31.1818C66.4825 31.1789 66.4855 31.1641 66.4943 31.1611L140.155 6.47653C140.164 6.47357 140.173 6.48539 140.167 6.49426L134.06 15.3203C133.366 16.325 133.528 17.7403 134.506 18.4643C135.511 19.2059 136.919 18.9636 137.628 17.9412L147.609 3.5158C147.671 3.4242 147.727 3.32669 147.777 3.22622C148.494 1.76063 147.389 0.0231934 145.781 0.0231934ZM82.1953 44.9306C82.2011 44.9336 82.2011 44.9454 82.1953 44.9483L59.1464 61.4126C59.1376 61.4185 59.1288 61.4126 59.1288 61.4008L62.7381 34.1898C62.7381 34.181 62.7469 34.178 62.7528 34.181L82.1953 44.9306ZM117.562 9.36339L60.2809 28.5609C59.4903 28.8268 58.8995 29.5419 58.7908 30.3751L56.1485 50.2907C56.1455 50.3025 56.1279 50.3025 56.1279 50.2907L51.7074 20.6567C51.7074 20.6508 51.7104 20.6449 51.7162 20.6449L117.559 9.34271C117.571 9.33975 117.577 9.36044 117.562 9.36339ZM119.611 4.48498L49.5824 16.5052C49.5795 16.5052 49.5765 16.5052 49.5765 16.5052L27.3712 4.48498C27.3624 4.47907 27.3653 4.46429 27.3771 4.46429H119.611C119.622 4.46429 119.622 4.48498 119.611 4.48498Z" fill="#F0F0F0"/>
  <path d="M39.6512 88.8925C39.0311 88.9014 38.3991 88.9279 37.776 88.9693C36.5592 89.0491 35.6363 90.104 35.7157 91.3273C35.7921 92.5033 36.762 93.4045 37.9171 93.4045C37.9641 93.4045 38.0141 93.4016 38.0611 93.3986C38.6137 93.3632 39.1692 93.3395 39.7188 93.3306C40.9386 93.3129 41.9114 92.3024 41.8938 91.0761C41.8762 89.8499 40.8651 88.8659 39.6512 88.8925Z" fill="#F0F0F0"/>
  <path d="M50.505 90.4586C49.3587 90.0833 48.1566 89.773 46.931 89.5307C45.7347 89.2944 44.5738 90.0803 44.3386 91.283C44.1035 92.4856 44.8853 93.6527 46.0815 93.8891C47.1367 94.096 48.1654 94.3648 49.1441 94.684C50.2904 95.0563 51.5543 94.4092 51.9275 93.2568C52.3008 92.0896 51.6659 90.8368 50.505 90.4586Z" fill="#F0F0F0"/>
  <path d="M27.5089 111.009C27.3355 109.996 27.2355 108.953 27.212 107.907C27.1826 106.681 26.1686 105.711 24.9518 105.738C23.7321 105.768 22.768 106.784 22.7945 108.01C22.8239 109.275 22.9444 110.537 23.1531 111.763C23.3559 112.954 24.5168 113.781 25.7042 113.577C26.9064 113.364 27.7146 112.218 27.5089 111.009Z" fill="#F0F0F0"/>
  <path d="M38.2841 124.723C37.3494 124.389 36.4412 123.96 35.5859 123.443C34.5396 122.814 33.1817 123.157 32.5557 124.209C31.9296 125.26 32.2706 126.626 33.3169 127.255C34.425 127.923 35.6006 128.478 36.8086 128.91C38.0049 129.335 39.3451 128.629 39.6772 127.4C39.977 126.295 39.3569 125.107 38.2841 124.723Z" fill="#F0F0F0"/>
  <path d="M41.1498 80.3117C40.3915 79.3514 39.0013 79.1918 38.046 79.9541C37.1085 80.7017 36.1885 81.4966 35.3156 82.315C34.4221 83.1513 34.3721 84.5548 35.2039 85.4531C36.0239 86.3366 37.4435 86.3897 38.3253 85.5654C39.1159 84.8266 39.9447 84.1086 40.7912 83.432C41.7494 82.6696 41.9081 81.272 41.1498 80.3117Z" fill="#F0F0F0"/>
  <path d="M31.1125 119.425C30.4982 118.627 29.9456 117.761 29.4636 116.851C28.8934 115.767 27.5561 115.353 26.4774 115.926C25.3988 116.499 24.9873 117.844 25.5575 118.928C26.1541 120.063 26.8478 121.144 27.6149 122.143C28.4085 123.174 29.9662 123.287 30.9009 122.379C31.7032 121.602 31.7914 120.308 31.1125 119.425Z" fill="#F0F0F0"/>
  <path d="M27.8003 95.8364C26.6775 95.3547 25.3813 95.8807 24.9023 97.0094C24.3761 98.2534 23.9441 99.4767 23.6561 100.549C23.3357 101.734 24.0323 102.952 25.2109 103.274C25.4048 103.327 25.5988 103.35 25.7899 103.35C26.7627 103.35 27.6533 102.7 27.9208 101.711C28.0854 101.099 28.4028 100.088 28.97 98.7498C29.4462 97.6211 28.923 96.318 27.8003 95.8364Z" fill="#F0F0F0"/>
  <path d="M33.5523 87.2673C32.5882 86.5139 31.2009 86.6852 30.4515 87.6544C29.7137 88.6059 29.0054 89.5987 28.35 90.6004C27.6798 91.6257 27.962 93.0026 28.9819 93.6763C29.9871 94.3412 31.3802 94.0516 32.0415 93.0411C32.6323 92.1369 33.2701 91.2445 33.9373 90.3847C34.6868 89.4155 34.5134 88.0208 33.5523 87.2673Z" fill="#F0F0F0"/>
  <path d="M60.16 96.2826C59.2929 95.3784 58.3083 94.5333 57.2326 93.7739C56.2333 93.0677 54.8578 93.31 54.1553 94.3146C53.4529 95.3193 53.6939 96.7021 54.6932 97.4083C55.5367 98.0052 56.3068 98.6641 56.9769 99.3644C57.8116 100.236 59.2342 100.263 60.1012 99.4235C60.98 98.5725 61.0065 97.166 60.16 96.2826Z" fill="#F0F0F0"/>
  <path d="M49.8413 126.877C49.5856 125.677 48.4129 124.915 47.2196 125.172C46.2997 125.37 45.3356 125.5 44.351 125.562L44.1805 125.571C42.9608 125.633 42.0232 126.673 42.0849 127.899C42.1437 129.087 43.1195 130.009 44.2893 130.009C44.3245 130.009 44.3628 130.009 44.401 130.006L44.6273 129.994C45.8294 129.92 47.0139 129.758 48.1513 129.515C49.3387 129.258 50.097 128.076 49.8413 126.877Z" fill="#F0F0F0"/>
  <path d="M64.905 106.887C64.7992 105.543 64.5552 104.24 64.1761 103.02C63.8116 101.849 62.5742 101.196 61.4103 101.56C60.2464 101.923 59.5969 103.17 59.9584 104.34C60.2376 105.245 60.4198 106.217 60.4992 107.233C60.5932 108.439 61.6719 109.369 62.874 109.275C64.0732 109.177 64.999 108.093 64.905 106.887Z" fill="#F0F0F0"/>
  <path d="M62.5784 111.745C61.4086 111.399 60.1801 112.07 59.8332 113.246C59.5452 114.227 59.1719 115.188 58.7252 116.104C58.1873 117.203 58.637 118.535 59.7333 119.076C60.8149 119.611 62.1581 119.15 62.6901 118.063C63.2485 116.922 63.7129 115.725 64.0715 114.505C64.4154 113.329 63.7482 112.094 62.5784 111.745Z" fill="#F0F0F0"/>
  <path d="M50.1465 75.321C49.6292 74.21 48.3125 73.7343 47.2074 74.2543C46.1228 74.7655 45.0471 75.324 44.0155 75.912C43.1896 76.3818 42.7457 77.3598 42.9397 78.2936C43.1484 79.313 44.0684 80.0635 45.1059 80.0635C45.4733 80.0635 45.8465 79.9719 46.1904 79.7739C47.128 79.2421 48.1038 78.7338 49.0855 78.2699C50.1906 77.7528 50.6638 76.432 50.1465 75.321Z" fill="#F0F0F0"/>
  <path d="M58.2783 121.088C57.4377 120.199 56.0416 120.163 55.1569 121.008C54.428 121.706 53.6315 122.335 52.7909 122.882C51.7652 123.547 51.4712 124.921 52.1325 125.952C52.785 126.968 54.1753 127.27 55.1863 126.614C56.2562 125.919 57.2702 125.116 58.199 124.229C59.0836 123.381 59.1189 121.978 58.2783 121.088Z" fill="#F0F0F0"/>
  <path d="M58.4026 72.7265C58.0881 71.5416 56.8771 70.8384 55.6985 71.1545C55.1019 71.3141 54.5052 71.4855 53.9262 71.6628C52.8211 72.0026 52.151 73.1845 52.4243 74.3132C52.7212 75.5365 54.0173 76.2753 55.2136 75.9089C55.7456 75.7463 56.2922 75.5897 56.8389 75.442C58.0146 75.1288 58.717 73.9114 58.4026 72.7265Z" fill="#F0F0F0"/>
  <path d="M8.75412 148.078C8.49842 147.578 8.24859 147.07 8.01346 146.562C7.49911 145.451 6.18237 144.969 5.07724 145.486C3.97212 146.003 3.49304 147.324 4.00739 148.438C4.26604 149 4.54232 149.561 4.82448 150.114C5.37704 151.189 6.72905 151.623 7.7989 151.068C8.88933 150.507 9.31256 149.168 8.75412 148.078Z" fill="#F0F0F0"/>
  <path d="M5.82466 140.67C5.53956 139.662 5.29561 138.634 5.09869 137.618C4.86356 136.415 3.70553 135.629 2.50635 135.865C1.31012 136.102 0.528304 137.266 0.763436 138.471C0.983873 139.612 1.25721 140.759 1.57758 141.887C1.90677 143.051 3.14709 143.749 4.30512 143.415C5.47784 143.078 6.15678 141.849 5.82466 140.67Z" fill="#F0F0F0"/>
  <path d="M2.42902 125.896C1.21515 125.819 0.16293 126.747 0.0835728 127.97C0.030668 128.842 0.00127645 129.725 0.00127645 130.594C0.00127645 131.392 -0.0281151 132.169 0.495054 132.825C0.921232 133.357 1.58548 133.673 2.26442 133.655C2.94043 133.64 3.58117 133.306 3.98677 132.763C4.47761 132.104 4.41882 131.371 4.41882 130.591C4.41882 129.814 4.44234 129.028 4.4923 128.251C4.57166 127.03 3.64583 125.975 2.42902 125.896Z" fill="#F0F0F0"/>
  <path d="M4.82787 116.228C3.6669 115.849 2.42364 116.491 2.04743 117.658C1.69179 118.769 1.3773 119.903 1.11278 121.035C0.833557 122.229 1.57128 123.423 2.75576 123.703C3.92849 123.981 5.13648 123.228 5.40982 122.049C5.64789 121.035 5.93005 120.016 6.25042 119.02C6.62663 117.856 5.98883 116.603 4.82787 116.228Z" fill="#F0F0F0"/>
  <path d="M16.0936 100.012C15.25 99.1251 13.8539 99.0926 12.9693 99.9377C12.7429 100.153 12.5196 100.375 12.2962 100.6C11.6995 101.199 11.1088 101.835 10.5445 102.485C9.74206 103.407 9.83612 104.81 10.7531 105.617C11.6584 106.415 13.078 106.317 13.8686 105.407C14.3712 104.831 14.8915 104.269 15.4205 103.738C15.6174 103.54 15.8173 103.342 16.0201 103.15C16.9018 102.305 16.9342 100.898 16.0936 100.012Z" fill="#F0F0F0"/>
  <path d="M9.44998 107.407C8.41246 106.766 7.05163 107.091 6.4109 108.134C5.80543 109.124 5.2323 110.152 4.70619 111.189C4.15069 112.283 4.58274 113.618 5.67023 114.177C6.74302 114.726 8.09503 114.286 8.64172 113.208C9.11492 112.274 9.62927 111.352 10.173 110.463C10.8138 109.42 10.4904 108.051 9.44998 107.407Z" fill="#F0F0F0"/>
  <path d="M23.0507 95.3103C22.4246 94.2584 21.0697 93.9127 20.0204 94.542C19.4884 94.8612 18.9564 95.198 18.4362 95.5437C17.4192 96.2233 17.143 97.6003 17.816 98.6226C18.4803 99.6302 19.8734 99.9139 20.8786 99.2461C21.3401 98.9388 21.8103 98.6404 22.2835 98.3567C23.3358 97.7244 23.6767 96.3622 23.0507 95.3103Z" fill="#F0F0F0"/>
  </g>
  </svg>
</div>
<div class="usage-department-container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link" id="AllDeps-tab" data-toggle="tab" href="#all-deps" role="tab" aria-controls="all-deps" aria-selected="false">All Deps</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" id="Design-tab" data-toggle="tab" href="#design" role="tab" aria-controls="design" aria-selected="true">Design</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="Dev-tab" data-toggle="tab" href="#dev" role="tab" aria-controls="dev" aria-selected="false">Development</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="Management-tab" data-toggle="tab" href="#management" role="tab" aria-controls="management" aria-selected="false">Management</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="Sales-tab" data-toggle="tab" href="#sales" role="tab" aria-controls="sales" aria-selected="false">Sales & Marketing</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="Support-tab" data-toggle="tab" href="#support" role="tab" aria-controls="support" aria-selected="false">Support</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade" id="all-deps" role="tabpanel" aria-labelledby="AllDeps-tab">
      <div class="department-metrics-container">
        <h1> 1st tab content </h1>
      </div>
    </div>
    <div class="tab-pane fade show active" id="design" role="tabpanel" aria-labelledby="Design-tab">

      <div class="department-metrics-container">
        <div class="department-metrics">
          <div class="section-metric-group">
            <h2><%= @users.count %></h2>
            <p>Users</p>
          </div>
          <div class="section-metric-group">
            <h2>15</h2>
            <p>Applications Used</p>
          </div>
          <div class="section-metric-group">
            <h2>2</h2>
            <p>Pending Surveys</p>
          </div>
        </div>
        <%= link_to "Send survey to department", usage_path, class: "btn btn-big btn-primary" %>
      </div>
      <%= render partial: "company_licenses/partials/table-department", locals: { users: @users } %>
    </div>
    <div class="tab-pane fade" id="dev" role="tabpanel" aria-labelledby="Dev-tab">
      <div class="department-metrics-container">
        <h1> 3rd tab content </h1>
      </div>
    </div>
    <div class="tab-pane fade" id="management" role="tabpanel" aria-labelledby="Management-tab">
      <div class="department-metrics-container">
        <h1> 4th tab content </h1>
      </div>
    </div>
    <div class="tab-pane fade" id="sales" role="tabpanel" aria-labelledby="Sales-tab">
      <div class="department-metrics-container">
        <h1> 5th tab content </h1>
      </div>
    </div>
    <div class="tab-pane fade" id="support" role="tabpanel" aria-labelledby="Support-tab">
      <div class="department-metrics-container">
        <h1> 6th tab content </h1>
      </div>
    </div>
  </div>
</div>
