.leftnav_brand {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  border-bottom: 1px solid $light-line;

  .logo-link {
    text-decoration: none;
  }

  .logo-link .logo_icon {
    height: 32px;
    animation: rotate 3s linear infinite both;
  }

  .logo-link .saas247 {
    height: 20px;
    padding-left: 6px;
  }
}

.leftnav_bottom {
  position: relative;
  flex: 1;
  width: 100%;
  margin: 24px;

  li {
    position: absolute;
  }

  li:nth-of-type(2) {
    top: 40px !important;
  }

  li:nth-of-type(3) {
    top: 80px !important;
  }

  li:nth-of-type(4) {
    top: 120px !important;
  }

  .leftnav-links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    line-height: 40px;
    position: relative;

    svg {
      position: absolute;
      width: 16px;
      height: 16px;
    }

    p {
      padding-left: 30px;
      margin: 0;
      color: $main-text;
      height: 38px;
    }

    &.active {
      p {
        color: $primary !important;
      }

      svg {
        fill: $primary !important;
      }
    }
    &:hover p, &:active p, &:focus p,  {
      color: $primary;
    }

    &:hover svg, &:active svg, &:focus svg {
      fill: $primary;
    }
  }
}

#leftnav_toggle {
  position: absolute;
  bottom: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px 2px;
  transition: all 0.2s ease;

  p {
    position: absolute;
    padding-left: 10px;
    left: 15px;
    width: 150px;
    opacity: 0.8;
  }

  svg {
    position: absolute;
    width: 14px;
    height: 14px;
  }

  .svg-blue {
    fill: $primary !important;
  }

  &:hover {
    p {
      opacity: 1;
    }

    svg {
      fill: $primary;
    }
  }
}

.show-left-nav {
  animation: toggleShow 0.2s ease 0.2s both;
}

.hide {
  animation: toggleHide 0.04s ease both;
}

@keyframes toggleShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    display: none;
  }
}
@keyframes toggleHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.leftnav-open {
  width: $left-nav-open;
}

.leftnav-closed {
  width: $left-nav-closed;
}
