#table-styled {
  width: 100% !important;
  font-size: 13px;
  color: $medium-gray;

  thead th:first-of-type {
    color: $primary;
  }

  .table-row-name {
    font-size: 15px;
    color: $main-text;
    font-weight: 600;
  }

  tbody tr:hover {
    background-color: $white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  }

  td {
    padding: 20px !important;
  }

  th {
    padding: 7px !important;
  }

  .table-bordered, .table-bordered td, thead, thead tr, td, tr, .table {
    border-bottom: 1px solid $light-line !important;
  }

  .table-price::before {
    content: '$';
    padding-right: 3px;
  }

  th, td, tr {
    border: none !important;
  }

  a {
    color: $dark-gray;

    &:hover {
      color: $primary;
    }
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 16px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 12px;
}

.slider.round:before {
  border-radius: 50%;
}

label.switch {
  margin: 0;
}

.toggle-alert {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding-top: 23px !important;
}

.table-action-td {
  padding: 0 !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

