<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      @import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap");
      a {
      /*  text-decoration: none;*/
        color: white;
      }

      html {
        background: linear-gradient(120deg, #109CF1 3.3%, #10CCF1 48.56%, #11FF9B 98.79%);
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 20px;
        color: white;
        text-align: center;
        font-family: "Poppins", "Helvetica", "sans-serif";
      }

    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
